# Backend Golang
backend-golang/backend-golang
backend-golang/backend-golang.json
backend-golang/go.sum
backend-golang/.vscode
backend-golang/.settings

# Backend Java
backend-java/backend-java.log
backend-java/backend-java.log.json
backend-java/*.jar
backend-java/target
backend-java/.vscode
backend-java/.settings
backend-java/.project
backend-java/.classpath

# Frontend React
frontend-react/node_modules/*
