# Backend Estimator
backend-estimator/backend-estimator.log
backend-estimator/backend-estimator.log.json
backend-estimator/target
backend-estimator/.vscode
backend-estimator/.settings
backend-estimator/.project
backend-estimator/.classpath

# Backend Database
backend-database/backend-database.log
backend-database/backend-database.log.json
backend-database/target
backend-database/.vscode
backend-database/.settings
backend-database/.project
backend-database/.classpath

# Frontend React
frontend-react/node_modules/*